{% extends "budget/index.html" %}

{% block main %}
<div class="row mt-3">
    <div class="col">
        <h2>{{ref_actual.sheet_name}}</h2>
    </div>
</div>

<div class="row">
    <div class ="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Inkomen</th>
                </tr>
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Werkelijk</th>
                </tr>
            </thead>
            <tbody>
                {% for actual in inkomen %}
                    <tr>
                        <td>{{actual.name}}</td>
                        <td>{{actual.budget}}</td>
                        <td>{{actual.actual}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class ="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Vaste lasten</th>
                </tr>
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Werkelijk</th>
                </tr>
            </thead>
            <tbody>
                {% for actual in vast %}
                    <tr>
                        <td>{{actual.name}}</td>
                        <td>{{actual.budget}}</td>
                        <td>{{actual.actual}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class ="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Flexibele lasten</th>
                </tr>
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Werkelijk</th>
                </tr>
            </thead>
            <tbody>
                {% for actual in flex %}
                    <tr>
                        <td>{{actual.name}}</td>
                        <td>{{actual.budget}}</td>
                        <td>{{actual.actual}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}