{% extends "budget/index.html" %}

{% block main %}
<div class="ms-3">
  <div class="row mt-5 mb-3">
    <div class="col">
      <h4>Wilt u de huidige registraties opslaan in het archief?</h4>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-auto">
      <a type="button" class="btn btn-success" href="{% url 'save_to_archive' %}">Ja</a>
    </div>
    <div class="col-auto">
      <a type="button" class="btn btn-danger" href="{% url 'create_actual'%}">Nee (de huidige registratie wordt verwijderd)</a>
    </div>
  </div>
</div>
{% endblock %}