<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link active" href="{% url 'plan' %}">Budget plan</a>
                    <a class="nav-link active" href="{% url 'index' %}">Registraties</a>
                    <a class="nav-link active" href="#">Archief</a></li>
                </div>
            </div>
        </div>
    </nav>

    <!-- CONTENT -->
    <main>
        <div class="container-fluid">
        {% block main %}
        {% endblock %}
        </div>
    </main>
</body>
</html>